<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>show.html.erb</title>
  </head>

  <body>

    <p>
      <%= @picture.title %>,
      <%= @picture.artist %>
    </p>

    <img src="<%= @picture.url %>">

    <%= link_to("Back to Pictures", "/pictures") %>

|   <%= link_to("Edit", "/pictures/#{@picture.id}/edit") %>

|   <%= link_to("Delete", "/pictures/#{@picture.id}", method: :delete, data: {confirm: "You are ok to delete this picture?"})  %>

  </body>
</html>
